
<!--footer section-->
<section class="footer ">
    <div class="container ">
        <div class="footer__flex-wrap">
            <ul class="footer-nav">
                <li class="header"><a href="/community/">Product</a></li>
                <li><a href="html_pages/construction.html">FAQ</a></li>
                <li><a href="html_pages/construction.html">Pricing</a></li>
                <li><a href="html_pages/construction.html">Projects</a></li>
                <li><a href="html_pages/construction.html">Open source</a></li>

            </ul>
            <ul class="footer-nav">
                <li class="header"><a href="/community/">Actions</a></li>
                <li><a href="html_pages/construction.html">Ask for a project</a></li>
                <li><a href="html_pages/construction.html">Sign up</a></li>
                <li><a href="html_pages/construction.html">Track your project</a></li>
                <li><a href="html_pages/construction.html">How we build software?</a></li>
            </ul>
            <ul class="footer-nav">
                <li class="header"><a href="/about/">Company</a></li>
                <li>
                    <a></a><a href="html_pages/construction.html">Blog</a></li>
                <li><a href="html_pages/construction.html">About</a></li>
                <li><a href="html_pages/careers.html">Careers</a></li>
                <li><a href="html_pages/construction.html">Press</a></li>
            </ul>

        </div>
        <div class="footer__social">
            <ul class="footer-nav">
                <li class="header"><a href="/contact/">Connect with Us</a></li>
                <li><a href="https://github.com/PillowSoftware">Github</a></li>
                <li><a target="_blank" href="" class="ft-btn-twitter">Facebook</a></li>
                <li><a target="_blank" href="" class="ft-btn-twitter">Twitter</a></li>
                <li><a target="_blank" href="" class="ft-btn-twitter">Linkedin</a></li>
            </ul>
        </div>
        <div class="copyright "><span class="year ">© 2017 </span>SoftPillow.
            <img src="{{ "/assets/images/icon/softpillow_favicon.ico" | prepend: site.baseurl }}" height="30 " width="30 " />
        </div>
    </div>
    <div class="main-footer_city-landscape-img" role="presentation"></div>

</section>








